.fundo{
    background-image: radial-gradient(white 25%, #c7c7c7 75%);
}

.profile{
    width: 150px;
    border-radius: 50%;
}

.main{
    height: 1150px;
    width: 800px;
    background-color: white;
    box-shadow: 5px 7px 15px 5px #7a7a7a;
    margin: 20px auto;
}

.cabeçalho{
    background-color: #151b29;
    text-align: center;
    padding: 20px;
}

#Nome{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
}

#Nome span{
    font-weight: 100;
    color: #c7c7c7;
}

#prof{
    font-size: 20px;
    color: #c7c7c7;
    margin: 0px;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: #c7c7c7;
}




.Esq{
    margin-left: 30px;
    margin-top: 40px; 
    width: 300px;
}

.tex{
    font-size: 18px;
    line-height:25px;
    text-align: justify;
    color: #7a7a7a;
}

.em{
    text-indent: 100px;
}

.tit{
    color: #151b29;
    font-size: 20px;
    font-weight: bold;
}

.inf{
    margin-top: 40px;
    color: #7a7a7a;
}

.habilidade{
    margin-top: 40px;
}

.lingua{
    margin-top: 40px;
}




.dir{
    margin-top: -554px;
    margin-left: 380px;
    margin-right: 30px;    
}

#direita{
    border-left: 1px solid black;
    height: 750px;
   margin-top: -650px;
   margin-left: 330px;
}

.edu{
    position: relative;
    top: 40px ;
}





footer{
    position: relative;
    text-align: center;
    top: 145px;
}

.link2{
    text-decoration: none;
    color:#7a7a7a;
}

